<html>
<div style="padding-right: 20px;padding-top:20px;">
	<a routerLink="/profile" class="umlaut">Ü</a>
</div>

<div class="center" style="text-align:center;">
	<img src='assets/DrumRoom.png' width="150">
	<h1><a routerLink="/" class="menu-link">DRÜM</a></h1> <!--DRÜM-->
</div>

<hr/>
<table>
<tr>
	<td><a routerLink="/rooms" class="menu-link">Rooms</a></td>
	<td><a routerLink="/schedule" class="menu-link">Schedule</a></td>
	<!--<td><a routerLink="/site-contact">Contact</a></td>-->
	<td><a routerLink="/faq" class="menu-link">FAQ</a></td>
</tr>
</table>
<hr/>

<div class="center" style="text-align:left;width:66%;">
<router-outlet></router-outlet>
</div>

</html>
