<html>
<div class="center" style="text-align:center;">
	<img src='assets/DrumRoom.png' width="200">
	<h1><a routerLink="/">Drum Room</a></h1> <!--DRÜM-->
	<h3>Hi, {{name}}</h3>
</div>

<hr/>
<table>
<tr>
	<td><a routerLink="/rooms" style="a:hover">Rooms</a></td>
	<td><a routerLink="/schedule">Schedule</a></td>
	<!--<td><a routerLink="/site-contact">Contact</a></td>-->
	<td><a routerLink="/faq">FAQ</a></td>
</tr>
</table>
<hr/>

<div class="center" style="text-align:left;width:66%;">
<router-outlet></router-outlet>
</div>

</html>
