body{
	background-color: rgba(100,100,100);
}
.center{
	margin: auto;
	width: 50%;
}
.umlaut{
	float: right;
	font-size: 200%;
	font-family: roboto;
	border-radius: 20px;
	background: black;
	color: gold;
	padding-right:9px;
	padding-left:9px;
	text-decoration: none;
}

.menu-link:link{
	text-decoration: none;
}
.menu-link:visited{
	text-decoration: none;
	color: black;
}
.menu-link:hover{
	background-color: black;
	color: white;
}

table{
	width:100%;
	table-layout: fixed;
}
td{
	text-align:center;
	font-weight: bold;
	padding: 10px;
}
